<html>
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>
  <p>
    <a class="btn btn-secondary" href="/template">Template</a>
  </p>
  <p>
    <a class="btn btn-secondary" href="/datafile">Datafile</a>
  </p>
  <p>
    <a class="btn btn-secondary" href="/things">Things</a>
  </p>
  <p>
    <a class="btn btn-secondary" href="/items">Items</a>
  </p>
  <p>
    <a href="/doc/habitatx.pdf" target="_blank">How to use HABitatX</a>
  </p>
</body>
</html>