<form action="/datafile" method="post">
  <div class="mb-3">
    <label for="title_datafile" class="form-label">タイトル</label>
    <input type="text" id="title_datafile" name="title_datafile" class="form-control">
  </div>
  <div class="mb-3">
    <label for="table" class="form-label">Excel</label>
    <input type="file" id="table" name="table" accept=".xls,.xlsx" class="form-control">
  </div>
  <div class="mb-3">
    <label for="title_template" class="form-label">Code</label>
    <select id="title_template" name="title_template" class="form-control">
      <option value="">Code</option>
      <% @template.each do |template| %>
        <option value="<%= template["title_template"] %>"><%= template["title_template"] %></option>
      <% end %>
    </select>
  </div>
  <div>
    <input type="submit" value="保存" class="btn btn-primary">
  </div>
</form>
<div>
  <a class="btn btn-secondary" href="/datafile">Datafile一覧に戻る</a>
</div>
